# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle/
.idea/.gitignore
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/google-java-format.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/
.idea/vcs.xml
gradle/
